:root {
    font: 1em "Fira Code";
}

.menu {
    transition: all .5s;
    position: relative;
    margin: auto auto;
}

.center-menu {
    margin-top: 23vh;
    transform: scale(1.1);
}

.top-menu {
    margin-top: 8vh;
}
