:root {
    font: 2em "Fira Code";
}

@media (max-width: 662px) {
    :root {
        font-size: 1em;
    }
}

.menu {
    transition: all 1.5s;
    position: relative;
    margin: auto auto;
}

.center-menu {
    margin-top: 23vh;
}

.top-menu {
    margin-top: 8vh;
}
