:root {
    --foreground-color: #EC9720;
    --main-background-color: rgba(32, 31, 29, 1);
    --gradient-background-color: #401C10;
    --gradient-opacity: 0.7;
}

p, a, div {
    color: var(--foreground-color);
    border-color: var(--foreground-color);
}

:root {
    font: 2em "Fira Code";
    width: 100vw;
    height: 100vh;
    background: var(--main-background-color);
}

@media (max-width: 662px) {
    :root {
        font-size: 1em;
    }
}

.menu {
    transition: all 1.5s;
    position: relative;
    margin: auto auto;
}

.center-menu {
    margin-top: 23vh;
}

.top-menu {
    margin-top: 8vh;
}

body {
}
