@import 'colors';

button {
  $horizontal-padding: 7px;
  $vertical-padding: 6px;

  border: 2px solid $primary-color;
  border-radius: 10px;
  font-size: 35px;

  padding: $vertical-padding $horizontal-padding;
}

button:hover {
  background-color: $default-color;
}
