.cv {
    margin: .5em 3em;
    text-align: justify;
}

.link-button {
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
    text-decoration: underline;
    padding: 0;
}

.link-button:hover {
    cursor: pointer;
}
