@import 'colors';

div.wrapper {
  contain: paint;
  height: 140px;
  display: flex;
  align-items: center;
}

$email-bottom: 106px;
$animation-duration: .5s;

input.email {
  color: $default-color;
  background-color: $secondary-color;
  border: none;

  position: absolute;
  bottom: $email-bottom;
  left: 0;
  z-index: -1;
  animation: email-float $animation-duration;
}

@keyframes email-float {
  from { bottom: 50%; }
  to { bottom: $email-bottom; }
}

.copy-button-enter {
  opacity: 0;
}

.copy-button-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.copy-button-exit {
  opacity: 1;
}

.copy-button-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

p.copy-button-text {
  display: inline;
}

button {
  width: 120px;
}
