.project-title {
    width: max-content;
}

.project {
    display: flex;
}

.project-details {
    font-size: .5em;
    display: flex;
    align-items: center;
}

.project-details p {
    margin: 0 0 0 1.4em;
    display: inline;
}
