.github {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: baseline;
    margin-top: 1em;
}

.project-link {
    color: unset;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: max-content;
}

.project {
    transition: transform .2s;
    width: max-content;
    margin-left: 1px;
}

.project:hover {
    transform: translateX(.2em);
}

.project-title {
    width: max-content;
    display: inline;
    text-decoration: underline;
    margin: .3em 0;
}

.project-details {
    font-size: .5em;
    display: flex;
    align-items: center;
}

.project-details {
    margin: .2em 0 0 .4em;
    font-weight: 500;
}
